Repository onetdev/themostannoyingwebsite.com, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, storybook, ci/cd, content, ui

feat: add money maker article
  apps/web/src/app/[locale]/page.tsx
  packages/content-api/data/en-011-evelin-made-1.5m-eur-without-any-knowledge/cover.webp
  packages/content-api/data/en-011-evelin-made-1.5m-eur-without-any-knowledge/data.yml
  packages/content-api/data/en-meta.json
  packages/content-api/data/index.json
Labels: none

feat: add money maker article (#126)
  apps/web/src/app/[locale]/page.tsx
  packages/content-api/data/en-011-evelin-made-1.5m-eur-without-any-knowledge/cover.webp
  packages/content-api/data/en-011-evelin-made-1.5m-eur-without-any-knowledge/data.yml
  packages/content-api/data/en-meta.json
  packages/content-api/data/index.json
Labels: none

fix: fix missing navigator permission and denied camera access
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/utils/permission.ts
  packages/ui/src/components/atoms/Icon.tsx
Labels: ui

fix: fix missing navigator permission and denied camera access (#127)
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/utils/permission.ts
  packages/ui/src/components/atoms/Icon.tsx
Labels: ui

chore: set all child repo version numbers to 0.0.0
  apps/ui-docs/package.json
  apps/web/package.json
  package.json
  packages/content-api/package.json
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, ui

chore: remove lint-staged type reference from configs
  apps/ui-docs/lint-staged.config.mjs
  apps/web/lint-staged.config.mjs
  packages/content-api/lint-staged.config.mjs
  packages/ui/lint-staged.config.mjs
  packages/utils/lint-staged.config.mjs
Labels: ui

chore: sync pnpm lock file
  pnpm-lock.yaml
Labels: dependencies

fix: update playwright workflow to properly with with apps/web
  .github/workflows/playwright.yml
Labels: ci/cd

chore: make tasks a bit cleaner
  .github/workflows/playwright.yml
Labels: ci/cd

fix: move playwright dep into its place
  apps/ui-docs/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: dependencies

chore: actually ignore build schema files in content-api
  apps/web/package.json
  packages/content-api/src/schemas/article-entry-simplified.schema.json
  packages/content-api/src/schemas/article-index-entry.schema.json
  packages/content-api/src/schemas/article-locale-meta.schema.json
  packages/content-api/tsconfig.json
Labels: dependencies

chore: move dep versions into catalog
  apps/ui-docs/package.json
  apps/web/package.json
  packages/content-api/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, ui

fix: pnpm scope tweaks
  .github/workflows/playwright.yml
Labels: ci/cd

feat: expand project tech and translation in readme
  README.md
Labels: documentation

fix: add article index to gitignore
  packages/content-api/.gitignore
  packages/content-api/data/index.json
Labels: none

chore: fix typo in main readme.md
  README.md
Labels: documentation

feat: add metadata build as dep to build, lint and tsc
  packages/content-api/.gitignore
  packages/content-api/package.json
  turbo.json
Labels: dependencies

fix: jest setup file path
  packages/config-jest/configs/base.ts
Labels: none

fix: eslint default imports
  apps/ui-docs/eslint.config.mjs
  apps/web/jest.config.ts
  apps/web/next.config.d.ts
  apps/web/next.config.mjs
  apps/web/playwright.config.ts
  apps/web/postcss.config.mjs
  apps/web/src/features/settings/components/MandatoryExperienceSettings.tsx
  apps/web/src/features/settings/components/PreferencesSettings.tsx
  apps/web/src/features/settings/components/UserGrantsSettings.tsx
  apps/web/src/instrumentation.ts
  apps/web/tsconfig.json
  package.json
  packages/config-eslint/.prettierrc.mjs
  packages/config-eslint/README.md
  packages/config-eslint/configs/eslint/base.mjs
  packages/config-eslint/configs/eslint/next-js.mjs
  packages/config-eslint/configs/eslint/react-internal.mjs
  packages/config-eslint/eslint.config.mjs
  packages/config-jest/README.md
  packages/config-jest/eslint.config.mjs
  packages/content-api/eslint.config.mjs
  packages/ui-lib/eslint.config.mjs
  packages/utils/eslint.config.mjs
  pnpm-lock.yaml
Labels: dependencies, documentation, ui

chore: further decrease deps, might need to rollback a few though
  apps/ui-docs/eslint.config.mjs
  apps/ui-docs/package.json
  apps/web/package.json
  apps/web/src/instrumentation-client.ts
  packages/config-eslint/configs/prettier/tailwind.mjs
  packages/config-jest/README.md
  packages/config-jest/package.json
  packages/ui-lib/eslint.config.mjs
  packages/ui-lib/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, documentation

fix: rollback react-internal eslint config
  packages/config-eslint/configs/eslint/react-internal.mjs
Labels: none

fix: rollback sentry to a stable version
  apps/web/src/instrumentation-client.ts
  pnpm-lock.yaml
Labels: dependencies

feat: add hover effect to large cover
  apps/web/src/features/content/components/LargeCoverItem.tsx
Labels: ui

feat: slightly reworked header to prepare for passing down activ elements
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/search/search-page.tsx
  apps/web/src/components/AppHeader/AppDarkModeToggle.tsx
  apps/web/src/components/AppHeader/AppHeader.tsx
  apps/web/src/components/AppHeader/ArticleMarquee.tsx
  apps/web/src/components/AppHeader/SearchForm.tsx
  apps/web/src/components/AppHeader/SiteNavigation.tsx
  apps/web/src/components/AppHeader/UserNavigation.tsx
  apps/web/src/components/AppHeader/index.tsx
  apps/web/src/components/MainNavigation.tsx
  apps/web/src/components/ShareModal.tsx
  apps/web/src/components/UserNavigation.tsx
  apps/web/tsconfig.json
  packages/ui-lib/package.json
  packages/ui-lib/src/components/organisms/BorderedBox.tsx
  packages/ui-lib/src/components/organisms/DelayedMount.tsx
  packages/ui-lib/src/components/organisms/EscapingElement.tsx
  packages/ui-lib/src/components/organisms/IconCollapseMenu.tsx
  packages/ui-lib/src/components/organisms/ShareModal.tsx
  packages/ui-lib/src/components/organisms/ToggableNavigation.tsx
  packages/ui-lib/src/components/organisms/index.ts
  pnpm-lock.yaml
Labels: dependencies, ui

fix: animations are working again
  apps/web/src/components/AppHeader/UserNavigation.tsx
  packages/ui-lib/src/styles/themes/index.css
Labels: none

fix: typo and make share icon hue rotate without hover
  apps/web/src/components/AppHeader/UserNavigation.tsx
  apps/web/src/features/content/components/LargeCoverItem.tsx
  packages/ui-lib/src/components/organisms/ToggableNavigation.tsx
Labels: ui

feat: introduce PageHeader with active section prop
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/articles/[slug]/article-item-page.tsx
  apps/web/src/app/[locale]/articles/[slug]/page.tsx
  apps/web/src/app/[locale]/contact/page.tsx
  apps/web/src/app/[locale]/dilf/page.tsx
  apps/web/src/app/[locale]/donate/page.tsx
  apps/web/src/app/[locale]/flaim-a-phone/page.tsx
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/app/[locale]/hot-things/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/privacy-policy/page.tsx
  apps/web/src/app/[locale]/search/page.tsx
  apps/web/src/app/[locale]/search/search-page.tsx
  apps/web/src/app/[locale]/settings/page.tsx
  apps/web/src/app/[locale]/user/login/login-page.tsx
  apps/web/src/app/[locale]/user/login/page.tsx
  apps/web/src/app/[locale]/user/password-reminder/page.tsx
  apps/web/src/app/[locale]/user/password-reminder/password-reminder-page.tsx
  apps/web/src/app/[locale]/user/registration/page.tsx
  apps/web/src/app/[locale]/user/registration/registration-page.tsx
  apps/web/src/app/[locale]/virgin/page.tsx
  apps/web/src/components/AppHeader/AppHeader.tsx
  apps/web/src/components/AppHeader/SiteNavigation.tsx
  apps/web/src/components/AppHeader/UserNavigation.tsx
  apps/web/src/components/AppHeader/index.tsx
  apps/web/src/components/AppHeader/types.ts
  apps/web/src/components/PageLayout.tsx
  apps/web/src/features/content/components/SmallCoverListItem.tsx
  packages/ui-lib/src/components/organisms/AdaptiveNavigation.tsx
  packages/ui-lib/src/components/organisms/IconCollapseMenu.tsx
  packages/ui-lib/src/components/organisms/index.ts
Labels: ui

feat: partial locker rework to work with paragraphs
  apps/web/e2e/article-item.spec.ts
  apps/web/package.json
  apps/web/src/app/[locale]/articles/[slug]/article-item-page.tsx
  apps/web/src/features/content/components/PartitionalLockedContent.tsx
  pnpm-lock.yaml
Labels: dependencies, ui

feat: add placeholder files
  apps/web/e2e/about.spec.ts
  apps/web/e2e/contact.spec.ts
  apps/web/e2e/difl.spec.ts
  apps/web/e2e/donate.spec.ts
  apps/web/e2e/flaim-a-phone.spec.ts
  apps/web/e2e/hot-things.spec.ts
  apps/web/e2e/privacy-policy.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/user/login.spec.ts
  apps/web/e2e/user/password-reminder.spec.ts
  apps/web/e2e/user/registration.spec.ts
Labels: none

feat: add pino logger with a few implementations too
  README.md
  apps/web/package.json
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/build-web-manifest.ts
  apps/web/scripts/publish-assets.ts
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/hooks/useSendNotification.ts
  packages/content-api/package.json
  packages/content-api/scripts/build-index.ts
  packages/content-api/scripts/build-json-schema.ts
  packages/logger/.prettierrc.mjs
  packages/logger/eslint.config.mjs
  packages/logger/lint-staged.config.mjs
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, documentation

feat: add pino logger with a few implementations too (#130)
  README.md
  apps/web/package.json
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/build-web-manifest.ts
  apps/web/scripts/publish-assets.ts
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/hooks/useSendNotification.ts
  packages/content-api/package.json
  packages/content-api/scripts/build-index.ts
  packages/content-api/scripts/build-json-schema.ts
  packages/logger/.prettierrc.mjs
  packages/logger/eslint.config.mjs
  packages/logger/lint-staged.config.mjs
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies, documentation

feat: add article item coverage
  apps/web/e2e/article-item.spec.ts
  apps/web/e2e/home.spec.ts
  apps/web/src/app/[locale]/articles/[slug]/article-item-page.tsx
  apps/web/src/app/[locale]/articles/[slug]/page.tsx
  apps/web/src/features/content/components/PartitionalLockedContent.tsx
Labels: ui

feat: add route validity check for all the routes
  apps/web/e2e/about.spec.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/auth/password-reminder.spec.ts
  apps/web/e2e/auth/registration.spec.ts
  apps/web/e2e/contact.spec.ts
  apps/web/e2e/dilf.spec.ts
  apps/web/e2e/donate.spec.ts
  apps/web/e2e/flaim-a-phone.spec.ts
  apps/web/e2e/home.spec.ts
  apps/web/e2e/hot-things.spec.ts
  apps/web/e2e/privacy-policy.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/virgin.spec.ts
  apps/web/src/components/AppHeader/SiteNavigation.tsx
  apps/web/src/components/AppHeader/UserNavigation.tsx
  packages/ui-lib/src/components/organisms/AdaptiveNavigation.tsx
  packages/ui-lib/src/components/organisms/IconCollapseMenu.tsx
Labels: none

chore: move a few import spaces
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/contact/page.tsx
  apps/web/src/app/[locale]/dilf/page.tsx
  apps/web/src/app/[locale]/donate/page.tsx
  apps/web/src/app/[locale]/flaim-a-phone/page.tsx
  apps/web/src/app/[locale]/hot-things/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/privacy-policy/page.tsx
  apps/web/src/app/[locale]/search/page.tsx
  apps/web/src/app/[locale]/settings/page.tsx
  apps/web/src/app/[locale]/virgin/page.tsx
Labels: none

feat: add route smoke tests (#129)
  apps/web/e2e/about.spec.ts
  apps/web/e2e/article-item.spec.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/auth/password-reminder.spec.ts
  apps/web/e2e/auth/registration.spec.ts
  apps/web/e2e/contact.spec.ts
  apps/web/e2e/dilf.spec.ts
  apps/web/e2e/donate.spec.ts
  apps/web/e2e/flaim-a-phone.spec.ts
  apps/web/e2e/home.spec.ts
  apps/web/e2e/hot-things.spec.ts
  apps/web/e2e/privacy-policy.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/virgin.spec.ts
  apps/web/src/app/[locale]/about/page.tsx
  apps/web/src/app/[locale]/articles/[slug]/article-item-page.tsx
  apps/web/src/app/[locale]/articles/[slug]/page.tsx
  apps/web/src/app/[locale]/contact/page.tsx
  apps/web/src/app/[locale]/dilf/page.tsx
  apps/web/src/app/[locale]/donate/page.tsx
  apps/web/src/app/[locale]/flaim-a-phone/page.tsx
  apps/web/src/app/[locale]/hot-things/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/privacy-policy/page.tsx
  apps/web/src/app/[locale]/search/page.tsx
  apps/web/src/app/[locale]/settings/page.tsx
  apps/web/src/app/[locale]/virgin/page.tsx
  apps/web/src/components/AppHeader/SiteNavigation.tsx
  apps/web/src/components/AppHeader/UserNavigation.tsx
  apps/web/src/features/content/components/PartitionalLockedContent.tsx
  packages/ui-lib/src/components/organisms/AdaptiveNavigation.tsx
  packages/ui-lib/src/components/organisms/IconCollapseMenu.tsx
Labels: ui

feat: switching over to using json for deployment menta instead of script
  apps/web/.gitignore
  apps/web/deployment-meta.mjs
  apps/web/manifest.config.mjs
  apps/web/next.config.mjs
  apps/web/public/deployment-meta.json
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/publish-assets.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Labels: content

feat: add commit SHA to release string
  apps/web/deployment-meta.mjs
  turbo.json
Labels: none

fix: separate runtime logger from server side
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/hooks/useSendNotification.ts
  packages/logger/src/index.ts
Labels: none

feat: web deployment manifest cleanup (#131)
  apps/web/.gitignore
  apps/web/deployment-meta.mjs
  apps/web/manifest.config.mjs
  apps/web/next.config.mjs
  apps/web/public/deployment-meta.json
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/publish-assets.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/[locale]/hot-things/hot-things-page.tsx
  apps/web/src/hooks/useSendNotification.ts
  packages/logger/src/index.ts
  turbo.json
Labels: content

feat(*): release v0.10.0
  package.json
Labels: dependencies

.github/labeler.yml:

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/package.json
      - ./**/package.json
      - ./**/pnpm-lock.yaml
      - .asdfrc
      - .nvmrc
      - .tool-versions

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/README.md
      - .github/ISSUE_TEMPLATE/*
      - .github/pull_request_template.md
      - README.md

storybook:
  - changed-files:
    - any-glob-to-any-file:
      - apps/ui-docs/.storybook/**
      - ./**.stories.ts
      - ./**.stories.tsx

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/auto-assign.yml
      - .github/CODEOWNERS
      - .github/labeler.yml
      - .github/workflows/**
      - next.config.js

content:
  - changed-files:
    - any-glob-to-any-file:
      - apps/web/public/**
      - assets/**

ui:
  - changed-files:
    - any-glob-to-any-file:
      - apps/web/src/components/**.tsx
      - apps/web/src/features/**/components/**.tsx
      - packages/ui/**
