Repository onetdev/themostannoyingwebsite.com, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, storybook, ci/cd, content, ui

feat: add screenshots, viewport, local run tweaks
  apps/web/playwright.config.ts
Labels: none

feat: trying to make the feature enablement consistent in pw
  apps/web/playwright.config.ts
Labels: none

feat: set headless to true
  apps/web/playwright.config.ts
Labels: none

fix: trying force click for the article
  apps/web/e2e/article-item.spec.ts
  apps/web/playwright.config.ts
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/build-web-manifest.ts
Labels: none

fix: lets try simple selector then
  apps/web/e2e/article-item.spec.ts
Labels: none

fix: temp force video recording
  apps/web/e2e/article-item.spec.ts
  apps/web/playwright.config.ts
Labels: none

feat: add a bit of documentation and tags for the test
  apps/web/e2e/README.md
  apps/web/e2e/about.spec.ts
  apps/web/e2e/article-item.spec.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/auth/password-reminder.spec.ts
  apps/web/e2e/auth/registration.spec.ts
  apps/web/e2e/contact.spec.ts
  apps/web/e2e/dilf.spec.ts
  apps/web/e2e/donate.spec.ts
  apps/web/e2e/flaim-a-phone.spec.ts
  apps/web/e2e/home.spec.ts
  apps/web/e2e/hot-things.spec.ts
  apps/web/e2e/layout.spec.ts
  apps/web/e2e/privacy-policy.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/virgin.spec.ts
Labels: documentation

feat: update playwright flow to take in params for filtering tests
  .github/workflows/playwright.yml
Labels: ci/cd

feat: move tests under their own folder
  apps/web/e2e/tests/about.spec.ts
  apps/web/e2e/tests/article-item.spec.ts
  apps/web/e2e/tests/auth/login.spec.ts
  apps/web/e2e/tests/auth/password-reminder.spec.ts
  apps/web/e2e/tests/auth/registration.spec.ts
  apps/web/e2e/tests/contact.spec.ts
  apps/web/e2e/tests/dilf.spec.ts
  apps/web/e2e/tests/donate.spec.ts
  apps/web/e2e/tests/flaim-a-phone.spec.ts
  apps/web/e2e/tests/home.spec.ts
  apps/web/e2e/tests/hot-things.spec.ts
  apps/web/e2e/tests/layout.spec.ts
  apps/web/e2e/tests/privacy-policy.spec.ts
  apps/web/e2e/tests/search.spec.ts
  apps/web/e2e/tests/settings.spec.ts
  apps/web/e2e/tests/virgin.spec.ts
  apps/web/playwright.config.ts
  packages/content-api/scripts/build-index.ts
Labels: none

fix: trying selector wait
  apps/web/e2e/tests/article-item.spec.ts
Labels: none

fix: meh, turning off playwright on GH temporerily
  .github/workflows/playwright.yml
Labels: ci/cd

chore: remove redundant line
  apps/web/e2e/tests/article-item.spec.ts
Labels: none

fix: add playwright readme and tags, temp disable on main merge (#133)
  .github/workflows/playwright.yml
  apps/web/e2e/README.md
  apps/web/e2e/about.spec.ts
  apps/web/e2e/article-item.spec.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/auth/password-reminder.spec.ts
  apps/web/e2e/auth/registration.spec.ts
  apps/web/e2e/contact.spec.ts
  apps/web/e2e/dilf.spec.ts
  apps/web/e2e/donate.spec.ts
  apps/web/e2e/flaim-a-phone.spec.ts
  apps/web/e2e/hot-things.spec.ts
  apps/web/e2e/layout.spec.ts
  apps/web/e2e/privacy-policy.spec.ts
  apps/web/e2e/search.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/tests/about.spec.ts
  apps/web/e2e/tests/article-item.spec.ts
  apps/web/e2e/tests/auth/login.spec.ts
  apps/web/e2e/tests/auth/password-reminder.spec.ts
  apps/web/e2e/tests/auth/registration.spec.ts
  apps/web/e2e/tests/contact.spec.ts
  apps/web/e2e/tests/dilf.spec.ts
  apps/web/e2e/tests/donate.spec.ts
  apps/web/e2e/tests/flaim-a-phone.spec.ts
  apps/web/e2e/tests/home.spec.ts
  apps/web/e2e/tests/hot-things.spec.ts
  apps/web/e2e/tests/layout.spec.ts
  apps/web/e2e/tests/privacy-policy.spec.ts
  apps/web/e2e/tests/search.spec.ts
  apps/web/e2e/tests/settings.spec.ts
  apps/web/e2e/tests/virgin.spec.ts
  apps/web/e2e/virgin.spec.ts
  apps/web/playwright.config.ts
  apps/web/scripts/build-deployment-meta.ts
  apps/web/scripts/build-web-manifest.ts
  packages/content-api/scripts/build-index.ts
Labels: documentation, ci/cd

feat: add zod to web
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

feat: update tsc to resolve module paths
  apps/web/tsconfig.json
Labels: none

feat: add readme to modules
  apps/web/modules/README.md
Labels: documentation

feat: add auth domain entities and interfaces
  apps/web/modules/auth/domain/entities/RegisterUser.ts
  apps/web/modules/auth/domain/entities/User.ts
  apps/web/modules/auth/domain/index.ts
  apps/web/modules/auth/domain/repositories/AuthRepository.ts
  apps/web/modules/auth/domain/value-object/Gender.ts
Labels: none

feat: add mermaid tag to module readme
  apps/web/modules/README.md
Labels: documentation

feat: add fake auth repo with 2s timeout resolvers
  apps/web/modules/auth/domain/repositories/AuthRepository.ts
  apps/web/modules/auth/infrastructure/FakeAuthRepository.ts
Labels: none

feat: add core module
  apps/web/modules/core/index.ts
  apps/web/modules/core/presentation/hooks/useAppViewModel.ts
  apps/web/modules/core/presentation/index.ts
  apps/web/modules/core/presentation/view-models/AppViewModel.tsx
Labels: none

feat: add admin usecases
  apps/web/modules/auth/usecases/index.ts
  apps/web/modules/auth/usecases/login.ts
  apps/web/modules/auth/usecases/password-reminder.ts
  apps/web/modules/auth/usecases/register.ts
Labels: none

feat: move auth comps under new module folder
  apps/web/modules/auth/presentation/components/CountryField.tsx
  apps/web/modules/auth/presentation/components/DateOfBirthField.tsx
  apps/web/modules/auth/presentation/components/GenderField.tsx
  apps/web/modules/auth/presentation/components/PasswordCreateField.tsx
  apps/web/modules/auth/presentation/components/PhoneNumberField.tsx
  packages/content-api/package.json
Labels: dependencies

feat: slightly tweaked CA diagram
  apps/web/modules/README.md
Labels: documentation

feat: moved auth under new module folder - checkpoint commit
  apps/web/modules/auth/domain/entities/RegisterUser.ts
  apps/web/modules/auth/domain/entities/UserCreation.ts
  apps/web/modules/auth/domain/index.ts
  apps/web/modules/auth/domain/repositories/AuthRepository.ts
  apps/web/modules/auth/index.ts
  apps/web/modules/auth/infrastructure/index.ts
  apps/web/modules/auth/presentation/components/CountryField.tsx
  apps/web/modules/auth/presentation/components/DateOfBirthField.tsx
  apps/web/modules/auth/presentation/components/GenderField.tsx
  apps/web/modules/auth/presentation/components/PasswordCreateField.tsx
  apps/web/modules/auth/presentation/components/PhoneNumberField.tsx
  apps/web/modules/auth/presentation/components/index.ts
  apps/web/modules/auth/presentation/forms/index.ts
  apps/web/modules/auth/presentation/forms/useLoginForm.ts
  apps/web/modules/auth/presentation/forms/usePasswordReminderFrom.ts
  apps/web/modules/auth/presentation/forms/useRegistrationForm.ts
  apps/web/modules/auth/presentation/pages/index.ts
  apps/web/modules/auth/presentation/pages/login-page.tsx
  apps/web/modules/auth/presentation/pages/password-reminder-page.tsx
  apps/web/modules/auth/presentation/pages/registration-page.tsx
  apps/web/modules/auth/presentation/viewmodels/AuthViewModel.tsx
  apps/web/modules/auth/usecases/login.ts
  apps/web/modules/auth/usecases/password-reminder.ts
  apps/web/modules/auth/usecases/register.ts
  apps/web/modules/core/presentation/hooks/useAppViewModel.ts
  apps/web/modules/core/presentation/view-models/AppViewModel.tsx
  apps/web/src/app/[locale]/user/login/page.tsx
  apps/web/src/app/[locale]/user/password-reminder/page.tsx
  apps/web/src/app/[locale]/user/registration/page.tsx
  apps/web/src/components/AppLink.tsx
  apps/web/src/features/auth/index.ts
  apps/web/src/global.ts
  apps/web/src/providers/RootProviderContainer.tsx
  packages/ui-lib/src/components/atoms/FormFieldError.tsx
Labels: ui

feat: make form elements use dynamic field names
  apps/web/modules/auth/presentation/components/CountryField.tsx
  apps/web/modules/auth/presentation/components/DateOfBirthField.tsx
  apps/web/modules/auth/presentation/components/GenderField.tsx
  apps/web/modules/auth/presentation/components/PasswordCreateField.tsx
  apps/web/modules/auth/presentation/components/PhoneNumberField.tsx
  packages/ui-lib/src/components/molecules/CaptchaEmojiField.tsx
  packages/ui-lib/src/components/molecules/CaptchaTitlePuzzleFied.tsx
Labels: none

feat: add loader state to login button
  apps/web/modules/auth/presentation/components/CountryField.tsx
  apps/web/modules/auth/presentation/components/DateOfBirthField.tsx
  apps/web/modules/auth/presentation/components/EmailField.tsx
  apps/web/modules/auth/presentation/components/PhoneNumberField.tsx
  apps/web/modules/auth/presentation/pages/login-page.tsx
  apps/web/src/features/content/components/CoverPlaceholder.tsx
  packages/config-ts/configs/react-library.json
  packages/config-ts/package.json
  packages/ui-lib/src/components/atoms/Button.tsx
  packages/ui-lib/src/components/atoms/LoaderDots.module.css
  packages/ui-lib/src/components/atoms/LoaderDots.tsx
  packages/ui-lib/src/components/atoms/index.ts
  packages/ui-lib/src/styles/themes/index.css
  pnpm-lock.yaml
Labels: dependencies, ui

.github/labeler.yml:

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/package.json
      - ./**/package.json
      - ./**/pnpm-lock.yaml
      - .asdfrc
      - .nvmrc
      - .tool-versions

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - ./**/README.md
      - .github/ISSUE_TEMPLATE/*
      - .github/pull_request_template.md
      - README.md

storybook:
  - changed-files:
    - any-glob-to-any-file:
      - apps/ui-docs/.storybook/**
      - ./**.stories.ts
      - ./**.stories.tsx

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/auto-assign.yml
      - .github/CODEOWNERS
      - .github/labeler.yml
      - .github/workflows/**
      - next.config.js

content:
  - changed-files:
    - any-glob-to-any-file:
      - apps/web/public/**
      - assets/**

ui:
  - changed-files:
    - any-glob-to-any-file:
      - apps/web/src/components/**.tsx
      - apps/web/src/features/**/components/**.tsx
      - packages/ui/**
